<!--<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of events">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.description}}</p>
                <a href="#" class="btn btn-primary">Buy Tickets</a>
            </div>
            <div class="card-footer text-muted">
                {{event.date | date:'shortDate'}}
            </div>
        </div>
    </div>
</div>-->
<div class="row mt-5">
    <div class="col"><!--col-->
        <div class="card text-center">
            <img src="assets/images/OD1.png" class="card-img-top" alt="">
            <div class="card-footer text-muted" style="background-color: red;">
                <h3 style="color: pink;">Home page for authenticated users</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="card text-center">
            <img src="assets/images/OD2.png" class="card-img-top" alt="">
            <div class="card-footer text-muted" style="background-color:red;">
                <h3 style="color: pink;">Navigate to image from device</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="card text-center">
            <img src="assets/images/OD3.png" class="card-img-top" alt="">
            <div class="card-footer text-muted" style="background-color: red;">
                <h3 style="color: pink;">Upload image to server</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="card text-center">
            <img src="assets/images/OD4.png" class="card-img-top" alt="">
            <div class="card-footer text-muted" style="background-color: red;">
                <h3 style="color: pink;">Pretrained model output</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="col">
        <div class="card text-center">
            <img src="assets/images/OD5.png" class="card-img-top" alt="">
            <div class="card-footer text-muted" style="background-color: red;">
                <h3 style="color: pink;">Custom model output</h3>
            </div>
        </div>
    </div>
</div>